# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
packages/Eigen.3.3.3/Eigen.3.3.3.nupkg
packages/Eigen.3.3.3/build/publisher-info.txt
packages/Eigen.3.3.3/build/native/include/Eigen/UmfPackSupport
packages/Eigen.3.3.3/build/native/include/Eigen/SVD
packages/Eigen.3.3.3/build/native/include/Eigen/SuperLUSupport
packages/Eigen.3.3.3/build/native/include/Eigen/StdVector
packages/Eigen.3.3.3/build/native/include/Eigen/StdList
packages/Eigen.3.3.3/build/native/include/Eigen/StdDeque
packages/Eigen.3.3.3/build/native/include/Eigen/src/UmfPackSupport/UmfPackSupport.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SVD/UpperBidiagonalization.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SVD/SVDBase.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SVD/JacobiSVD_LAPACKE.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SVD/JacobiSVD.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SVD/BDCSVD.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SuperLUSupport/SuperLUSupport.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/StlSupport/StdVector.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/StlSupport/StdList.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/StlSupport/StdDeque.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/StlSupport/details.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SPQRSupport/SuiteSparseQRSupport.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SparseQR/SparseQR.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SparseLU/SparseLUImpl.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SparseLU/SparseLU_Utils.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SparseLU/SparseLU_SupernodalMatrix.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SparseLU/SparseLU_Structs.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SparseLU/SparseLU_relax_snode.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SparseLU/SparseLU_pruneL.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SparseLU/SparseLU_pivotL.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SparseLU/SparseLU_panel_dfs.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SparseLU/SparseLU_panel_bmod.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SparseLU/SparseLU_Memory.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SparseLU/SparseLU_kernel_bmod.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SparseLU/SparseLU_heap_relax_snode.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SparseLU/SparseLU_gemm_kernel.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SparseLU/SparseLU_copy_to_ucol.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SparseLU/SparseLU_column_dfs.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SparseLU/SparseLU_column_bmod.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SparseLU/SparseLU.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SparseCore/TriangularSolver.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SparseCore/SparseView.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SparseCore/SparseVector.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SparseCore/SparseUtil.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SparseCore/SparseTriangularView.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SparseCore/SparseTranspose.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SparseCore/SparseSparseProductWithPruning.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SparseCore/SparseSolverBase.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SparseCore/SparseSelfAdjointView.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SparseCore/SparseRef.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SparseCore/SparseRedux.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SparseCore/SparseProduct.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SparseCore/SparsePermutation.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SparseCore/SparseMatrixBase.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SparseCore/SparseMatrix.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SparseCore/SparseMap.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SparseCore/SparseFuzzy.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SparseCore/SparseDot.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SparseCore/SparseDiagonalProduct.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SparseCore/SparseDenseProduct.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SparseCore/SparseCwiseUnaryOp.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SparseCore/SparseCwiseBinaryOp.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SparseCore/SparseCompressedBase.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SparseCore/SparseColEtree.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SparseCore/SparseBlock.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SparseCore/SparseAssign.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SparseCore/MappedSparseMatrix.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SparseCore/ConservativeSparseSparseProduct.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SparseCore/CompressedStorage.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SparseCore/AmbiVector.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SparseCholesky/SimplicialCholesky_impl.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/SparseCholesky/SimplicialCholesky.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/QR/HouseholderQR_LAPACKE.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/QR/HouseholderQR.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/QR/FullPivHouseholderQR.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/QR/CompleteOrthogonalDecomposition.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/QR/ColPivHouseholderQR_LAPACKE.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/QR/ColPivHouseholderQR.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/plugins/MatrixCwiseUnaryOps.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/plugins/MatrixCwiseBinaryOps.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/plugins/CommonCwiseUnaryOps.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/plugins/CommonCwiseBinaryOps.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/plugins/BlockMethods.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/plugins/ArrayCwiseUnaryOps.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/plugins/ArrayCwiseBinaryOps.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/PaStiXSupport/PaStiXSupport.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/PardisoSupport/PardisoSupport.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/OrderingMethods/Ordering.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/OrderingMethods/Eigen_Colamd.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/OrderingMethods/Amd.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/misc/RealSvd2x2.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/misc/lapacke_mangling.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/misc/lapacke.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/misc/lapack.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/misc/Kernel.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/misc/Image.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/misc/blas.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/MetisSupport/MetisSupport.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/LU/PartialPivLU_LAPACKE.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/LU/PartialPivLU.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/LU/InverseImpl.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/LU/FullPivLU.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/LU/Determinant.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/LU/arch/Inverse_SSE.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Jacobi/Jacobi.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/IterativeLinearSolvers/SolveWithGuess.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/IterativeLinearSolvers/LeastSquareConjugateGradient.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/IterativeLinearSolvers/IterativeSolverBase.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/IterativeLinearSolvers/IncompleteLUT.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/IterativeLinearSolvers/IncompleteCholesky.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/IterativeLinearSolvers/ConjugateGradient.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/IterativeLinearSolvers/BiCGSTAB.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/IterativeLinearSolvers/BasicPreconditioners.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Householder/HouseholderSequence.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Householder/Householder.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Householder/BlockHouseholder.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Geometry/Umeyama.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Geometry/Translation.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Geometry/Transform.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Geometry/Scaling.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Geometry/RotationBase.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Geometry/Rotation2D.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Geometry/Quaternion.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Geometry/ParametrizedLine.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Geometry/OrthoMethods.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Geometry/Hyperplane.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Geometry/Homogeneous.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Geometry/EulerAngles.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Geometry/arch/Geometry_SSE.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Geometry/AngleAxis.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Geometry/AlignedBox.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Eigenvalues/Tridiagonalization.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Eigenvalues/SelfAdjointEigenSolver_LAPACKE.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Eigenvalues/SelfAdjointEigenSolver.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Eigenvalues/RealSchur_LAPACKE.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Eigenvalues/RealSchur.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Eigenvalues/RealQZ.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Eigenvalues/MatrixBaseEigenvalues.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Eigenvalues/HessenbergDecomposition.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Eigenvalues/GeneralizedSelfAdjointEigenSolver.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Eigenvalues/GeneralizedEigenSolver.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Eigenvalues/EigenSolver.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Eigenvalues/ComplexSchur_LAPACKE.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Eigenvalues/ComplexSchur.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Eigenvalues/ComplexEigenSolver.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/Visitor.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/VectorwiseOp.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/VectorBlock.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/util/XprHelper.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/util/StaticAssert.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/util/ReenableStupidWarnings.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/util/NonMPL2.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/util/MKL_support.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/util/Meta.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/util/Memory.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/util/Macros.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/util/ForwardDeclarations.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/util/DisableStupidWarnings.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/util/Constants.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/util/BlasUtil.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/TriangularMatrix.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/Transpositions.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/Transpose.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/Swap.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/Stride.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/StableNorm.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/SolveTriangular.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/SolverBase.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/Solve.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/SelfCwiseBinaryOp.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/SelfAdjointView.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/Select.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/Reverse.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/ReturnByValue.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/Replicate.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/Ref.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/Redux.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/Random.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/products/TriangularSolverVector.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/products/TriangularSolverMatrix_BLAS.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/products/TriangularSolverMatrix.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/products/TriangularMatrixVector_BLAS.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/products/TriangularMatrixVector.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/products/TriangularMatrixMatrix_BLAS.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/products/TriangularMatrixMatrix.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/products/SelfadjointRank2Update.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/products/SelfadjointProduct.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/products/SelfadjointMatrixVector_BLAS.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/products/SelfadjointMatrixVector.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/products/SelfadjointMatrixMatrix_BLAS.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/products/SelfadjointMatrixMatrix.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/products/Parallelizer.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/products/GeneralMatrixVector_BLAS.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/products/GeneralMatrixVector.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/products/GeneralMatrixMatrixTriangular_BLAS.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/products/GeneralMatrixMatrixTriangular.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/products/GeneralMatrixMatrix_BLAS.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/products/GeneralMatrixMatrix.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/products/GeneralBlockPanelKernel.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/ProductEvaluators.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/Product.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/PlainObjectBase.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/PermutationMatrix.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/NumTraits.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/NoAlias.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/NestByValue.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/MatrixBase.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/Matrix.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/MathFunctionsImpl.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/MathFunctions.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/MapBase.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/Map.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/IO.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/Inverse.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/GlobalFunctions.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/GenericPacketMath.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/GeneralProduct.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/Fuzzy.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/functors/UnaryFunctors.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/functors/TernaryFunctors.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/functors/StlFunctors.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/functors/NullaryFunctors.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/functors/BinaryFunctors.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/functors/AssignmentFunctors.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/ForceAlignedAccess.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/EigenBase.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/Dot.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/DiagonalProduct.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/DiagonalMatrix.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/Diagonal.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/DenseStorage.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/DenseCoeffsBase.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/DenseBase.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/CwiseUnaryView.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/CwiseUnaryOp.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/CwiseTernaryOp.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/CwiseNullaryOp.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/CwiseBinaryOp.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/CoreIterators.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/CoreEvaluators.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/ConditionEstimator.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/CommaInitializer.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/BooleanRedux.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/Block.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/BandMatrix.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/AssignEvaluator.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/Assign_MKL.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/Assign.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/ArrayWrapper.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/ArrayBase.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/Array.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/arch/ZVector/PacketMath.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/arch/ZVector/MathFunctions.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/arch/ZVector/Complex.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/arch/SSE/TypeCasting.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/arch/SSE/PacketMath.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/arch/SSE/MathFunctions.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/arch/SSE/Complex.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/arch/NEON/PacketMath.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/arch/NEON/MathFunctions.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/arch/NEON/Complex.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/arch/Default/Settings.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/arch/CUDA/TypeCasting.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/arch/CUDA/PacketMathHalf.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/arch/CUDA/PacketMath.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/arch/CUDA/MathFunctions.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/arch/CUDA/Half.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/arch/CUDA/Complex.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/arch/AVX512/PacketMath.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/arch/AVX512/MathFunctions.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/arch/AVX/TypeCasting.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/arch/AVX/PacketMath.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/arch/AVX/MathFunctions.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/arch/AVX/Complex.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/arch/AltiVec/PacketMath.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/arch/AltiVec/MathFunctions.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Core/arch/AltiVec/Complex.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/CholmodSupport/CholmodSupport.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Cholesky/LLT_LAPACKE.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Cholesky/LLT.h
packages/Eigen.3.3.3/build/native/include/Eigen/src/Cholesky/LDLT.h
packages/Eigen.3.3.3/build/native/include/Eigen/SPQRSupport
packages/Eigen.3.3.3/build/native/include/Eigen/SparseQR
packages/Eigen.3.3.3/build/native/include/Eigen/SparseLU
packages/Eigen.3.3.3/build/native/include/Eigen/SparseCore
packages/Eigen.3.3.3/build/native/include/Eigen/SparseCholesky
packages/Eigen.3.3.3/build/native/include/Eigen/Sparse
packages/Eigen.3.3.3/build/native/include/Eigen/QtAlignedMalloc
packages/Eigen.3.3.3/build/native/include/Eigen/QR
packages/Eigen.3.3.3/build/native/include/Eigen/PaStiXSupport
packages/Eigen.3.3.3/build/native/include/Eigen/PardisoSupport
packages/Eigen.3.3.3/build/native/include/Eigen/OrderingMethods
packages/Eigen.3.3.3/build/native/include/Eigen/MetisSupport
packages/Eigen.3.3.3/build/native/include/Eigen/LU
packages/Eigen.3.3.3/build/native/include/Eigen/Jacobi
packages/Eigen.3.3.3/build/native/include/Eigen/IterativeLinearSolvers
packages/Eigen.3.3.3/build/native/include/Eigen/Householder
packages/Eigen.3.3.3/build/native/include/Eigen/Geometry
packages/Eigen.3.3.3/build/native/include/Eigen/Eigenvalues
packages/Eigen.3.3.3/build/native/include/Eigen/Eigen
packages/Eigen.3.3.3/build/native/include/Eigen/Dense
packages/Eigen.3.3.3/build/native/include/Eigen/Core
packages/Eigen.3.3.3/build/native/include/Eigen/CMakeLists.txt
packages/Eigen.3.3.3/build/native/include/Eigen/CholmodSupport
packages/Eigen.3.3.3/build/native/include/Eigen/Cholesky
packages/Eigen.3.3.3/build/native/Eigen.targets
packages/Eigen.3.3.3/build/native/default-propertiesui.xml
packages/Eigen.3.3.3/build/configurations.autopkg
packages/Eigen.3.3.3/.signature.p7s
*.db
*.ilk
*.pdb
SFML/lib/cmake/SFML/SFMLStaticTargets.cmake
SFML/lib/cmake/SFML/SFMLStaticTargets-release.cmake
SFML/lib/cmake/SFML/SFMLStaticTargets-debug.cmake
SFML/lib/cmake/SFML/SFMLSharedTargets.cmake
SFML/lib/cmake/SFML/SFMLSharedTargets-release.cmake
SFML/lib/cmake/SFML/SFMLSharedTargets-debug.cmake
SFML/lib/cmake/SFML/SFMLConfigVersion.cmake
SFML/lib/cmake/SFML/SFMLConfigDependencies.cmake
SFML/lib/cmake/SFML/SFMLConfig.cmake
SFML/include/SFML/Window/WindowStyle.hpp
SFML/include/SFML/Window/WindowHandle.hpp
SFML/include/SFML/Window/Window.hpp
SFML/include/SFML/Window/VideoMode.hpp
SFML/include/SFML/Window/Touch.hpp
SFML/include/SFML/Window/Sensor.hpp
SFML/include/SFML/Window/Mouse.hpp
SFML/include/SFML/Window/Keyboard.hpp
SFML/include/SFML/Window/Joystick.hpp
SFML/include/SFML/Window/GlResource.hpp
SFML/include/SFML/Window/Export.hpp
SFML/include/SFML/Window/Event.hpp
SFML/include/SFML/Window/Cursor.hpp
SFML/include/SFML/Window/ContextSettings.hpp
SFML/include/SFML/Window/Context.hpp
SFML/include/SFML/Window/Clipboard.hpp
SFML/include/SFML/Window.hpp
SFML/include/SFML/System/Vector3.inl
SFML/include/SFML/System/Vector3.hpp
SFML/include/SFML/System/Vector2.inl
SFML/include/SFML/System/Vector2.hpp
SFML/include/SFML/System/Utf.inl
SFML/include/SFML/System/Utf.hpp
SFML/include/SFML/System/Time.hpp
SFML/include/SFML/System/ThreadLocalPtr.inl
SFML/include/SFML/System/ThreadLocalPtr.hpp
SFML/include/SFML/System/ThreadLocal.hpp
SFML/include/SFML/System/Thread.inl
SFML/include/SFML/System/Thread.hpp
SFML/include/SFML/System/String.inl
SFML/include/SFML/System/String.hpp
SFML/include/SFML/System/Sleep.hpp
SFML/include/SFML/System/NonCopyable.hpp
SFML/include/SFML/System/NativeActivity.hpp
SFML/include/SFML/System/Mutex.hpp
SFML/include/SFML/System/MemoryInputStream.hpp
SFML/include/SFML/System/Lock.hpp
SFML/include/SFML/System/InputStream.hpp
SFML/include/SFML/System/FileInputStream.hpp
SFML/include/SFML/System/Export.hpp
SFML/include/SFML/System/Err.hpp
SFML/include/SFML/System/Clock.hpp
SFML/include/SFML/System.hpp
SFML/include/SFML/OpenGL.hpp
SFML/include/SFML/Network/UdpSocket.hpp
SFML/include/SFML/Network/TcpSocket.hpp
SFML/include/SFML/Network/TcpListener.hpp
SFML/include/SFML/Network/SocketSelector.hpp
SFML/include/SFML/Network/SocketHandle.hpp
SFML/include/SFML/Network/Socket.hpp
SFML/include/SFML/Network/Packet.hpp
SFML/include/SFML/Network/IpAddress.hpp
SFML/include/SFML/Network/Http.hpp
SFML/include/SFML/Network/Ftp.hpp
SFML/include/SFML/Network/Export.hpp
SFML/include/SFML/Network.hpp
SFML/include/SFML/Main.hpp
SFML/include/SFML/Graphics/View.hpp
SFML/include/SFML/Graphics/VertexBuffer.hpp
SFML/include/SFML/Graphics/VertexArray.hpp
SFML/include/SFML/Graphics/Vertex.hpp
SFML/include/SFML/Graphics/Transformable.hpp
SFML/include/SFML/Graphics/Transform.hpp
SFML/include/SFML/Graphics/Texture.hpp
SFML/include/SFML/Graphics/Text.hpp
SFML/include/SFML/Graphics/Sprite.hpp
SFML/include/SFML/Graphics/Shape.hpp
SFML/include/SFML/Graphics/Shader.hpp
SFML/include/SFML/Graphics/RenderWindow.hpp
SFML/include/SFML/Graphics/RenderTexture.hpp
SFML/include/SFML/Graphics/RenderTarget.hpp
SFML/include/SFML/Graphics/RenderStates.hpp
SFML/include/SFML/Graphics/RectangleShape.hpp
SFML/include/SFML/Graphics/Rect.inl
SFML/include/SFML/Graphics/Rect.hpp
SFML/include/SFML/Graphics/PrimitiveType.hpp
SFML/include/SFML/Graphics/Image.hpp
SFML/include/SFML/Graphics/Glyph.hpp
SFML/include/SFML/Graphics/Glsl.inl
SFML/include/SFML/Graphics/Glsl.hpp
SFML/include/SFML/Graphics/Font.hpp
SFML/include/SFML/Graphics/Export.hpp
SFML/include/SFML/Graphics/Drawable.hpp
SFML/include/SFML/Graphics/ConvexShape.hpp
SFML/include/SFML/Graphics/Color.hpp
SFML/include/SFML/Graphics/CircleShape.hpp
SFML/include/SFML/Graphics/BlendMode.hpp
SFML/include/SFML/Graphics.hpp
SFML/include/SFML/GpuPreference.hpp
SFML/include/SFML/Config.hpp
SFML/include/SFML/Audio/SoundStream.hpp
SFML/include/SFML/Audio/SoundSource.hpp
SFML/include/SFML/Audio/SoundRecorder.hpp
SFML/include/SFML/Audio/SoundFileWriter.hpp
SFML/include/SFML/Audio/SoundFileReader.hpp
SFML/include/SFML/Audio/SoundFileFactory.inl
SFML/include/SFML/Audio/SoundFileFactory.hpp
SFML/include/SFML/Audio/SoundBufferRecorder.hpp
SFML/include/SFML/Audio/SoundBuffer.hpp
SFML/include/SFML/Audio/Sound.hpp
SFML/include/SFML/Audio/OutputSoundFile.hpp
SFML/include/SFML/Audio/Music.hpp
SFML/include/SFML/Audio/Listener.hpp
SFML/include/SFML/Audio/InputSoundFile.hpp
SFML/include/SFML/Audio/Export.hpp
SFML/include/SFML/Audio/AlResource.hpp
SFML/include/SFML/Audio.hpp
.vs/StrafeVisualizer/v16/ipch/AutoPCH/ed82cccdbb08444f/STRAFEMATH.ipch
.vs/StrafeVisualizer/v16/ipch/AutoPCH/db5fd3216de27907/MAIN.ipch
.vs/StrafeVisualizer/v16/ipch/AutoPCH/cea7d00538177f8b/ELLIPSE.ipch
.vs/StrafeVisualizer/v16/ipch/AutoPCH/cc68d0ed79527535/ELLIPSE.ipch
.vs/StrafeVisualizer/v16/ipch/AutoPCH/b52471816cd5ca63/DRAWUTIL.ipch
.vs/StrafeVisualizer/v16/ipch/AutoPCH/ad1fdd92947fbf3c/ANIMATIONS.ipch
.vs/StrafeVisualizer/v16/ipch/AutoPCH/80abc3642f715f9b/MAIN.ipch
.vs/StrafeVisualizer/v16/ipch/AutoPCH/7ed6f088bd479164/MAIN.ipch
.vs/StrafeVisualizer/v16/ipch/AutoPCH/740501b69300b9a7/GLAD.ipch
.vs/StrafeVisualizer/v16/ipch/AutoPCH/663f7c2bd2eee54d/GLAD.ipch
.vs/StrafeVisualizer/v16/ipch/AutoPCH/47af7ecd2ef70e14/CONICSOLVER.ipch
.vs/StrafeVisualizer/v16/ipch/AutoPCH/34c17854721c301a/MAIN.ipch
.vs/StrafeVisualizer/v16/ipch/AutoPCH/32edb7c4ea9004ce/CONICSOLVER.ipch
.vs/StrafeVisualizer/v16/ipch/AutoPCH/3015a0aada1d204d/DRAWUTIL.ipch
.vs/StrafeVisualizer/v16/ipch/AutoPCH/259fb94fb8dfcc22/ANIMATIONS.ipch
.vs/StrafeVisualizer/v16/.suo
*.log
*.recipe
*.tlog
StrafeVisualizer/Debug/StrafeVisualizer.vcxproj.FileListAbsolute.txt
*.idb
*.iobj
*.ipdb
.vs/StrafeVisualizer/v16/ipch/AutoPCH/4e903c52816e903b/STRAFEMATH.ipch
.vs/StrafeVisualizer/v16/Browse.VC.db-wal
.vs/StrafeVisualizer/v16/Browse.VC.db-shm
.vs/StrafeVisualizer/v16/Browse.VC.opendb
*.ipch
StrafeVisualizer/sshot.png
